<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rakshit Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="{{url_for('login')}}" style="color:#b6d781;">Rakshit's Profile</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1"></div>
    </div>
    </nav>
    </div>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Welcome {{name}} &nbsp;</h2>
                <p>Software Engineer with 3 years of experience in Software Development. Resilient and tenacious lead with a holistic approach and exceptional attention to detail. Expert in cloud platforms and languages. Supportive and enthusiastic team player to give optimized solution for every problem.</p>
<br><br>
                <p>About Rakshit: During my school days I was more interested towards programming language which helped me finding new ways of enhancing my programming skills. Initially I started with C, C++ and till I completed my school life I launched few Android Applications which are live in play store.

                    I got my first job from Mindtree where I got tagged as FULL STACK JAVA developer. During training I learnt a lot from development to deployment.
                    
                    My relentless dedication helped me in achieving full rating from my manager in my first year of job. I was successful in managing an Android Application  for social inclusion. 
                    
                    Within short span of time I got an opportunity to work in different languages like KOTLIN, JAVA, PYTHON, ANGULAR and TYPESCRIPT which made me realize my flexibility to switch languages as per requirements.
                    
                    Apart from programming I love to play guitar and involve in social activities to improve my connections and be socially active.
                </p>

                <p>Freelancing Profile: https://www.upwork.com/o/profiles/users/~011d5fcd20473fecdc/ </p>
                <br>

                <p>LinkedIn Profile: https://www.linkedin.com/in/rakshit-pant-6039aa127/</p>
                <br>
        
                <br>

                <h1>EDUCATION | TRAINING</h1>
                <br>
                <p>Trained in AWS, Software Development, Mobile Development</p>
                <br>
                <p>Bachelor of Technology, Computer Science, 2018</p>
                <br>
                <p>Oracle Certified Java Programmer (OCJP) with 98%</p>
                <br>
                <p>Certified in Android App Components-Intents, Activities, and Broadcast Receivers (Credential ID: R9ZWBJXAFL8S)                </p>
                   
                <br>
                <br>
                <h1>PROFESSIONAL EXPERIENCE</h1>

                <p>Lead a team of developers to deliver a complex application for the social inclusion domain. Worked as a full stack developer and contributed in multiple projects with agile methodology. </p>
<br>
<p>	Java Frameworks: Worked in multiple java frameworks such as Servlets and JSPs, Struts Framework, Hibernate Framework, Spring Framework (Spring Bean Factory, Spring Application Context, Spring DI, Spring AOP, Spring Integration, Spring messaging, Spring JMS, Spring MVC and Spring. </p>
<br>
<p>	Software Development using AWS Worked extensively in CodeStar and CodeBuild to develop and deploy applications.</p>
    <br>
    <p>	Sentiment Analysis on AWS Created an application to do sentiment analysis of the statements using frontend as Angular and consumed multiple AWS services such as Lambda, s3, ec2, Kinesis and Comprehend. </p>
        <br>
        <p>	Social Inclusion Web Application Contributed in developing web application for social inclusion domain and implemented CI/CD along with other developers.</p>
            <br>
            <p>	Smart Contracts for Ethereum Network(BlockChain) Deployed smart contracts using Solidity in the RinkeBy test network.</p>
                <br>
<p>	Mobile Development:  Deployed multiple android applications created in both Java and Kotlin and added complex functionalities like Offline Sync. </p>
    <br>
    <p>	Version Control:  In depth knowledge about version control tools like Git and SVN for CI/CD. </p>
                    </p>

                Open to discussions and being challenged towards learning new things as that's how I learn.
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/img/hackerrank.jpg" data-lightbox="photos"><img class="img-fluid" src="static/img/hackerrank.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/img/OCJP.jpg" data-lightbox="photos"><img class="img-fluid" src="static/img/OCJP.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/img/review.JPG" data-lightbox="photos"><img class="img-fluid" src="static/img/review.JPG"></a></div>
                
                </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>
